SECRET_KEY='django-insecure-^27w52^_1br!hz=v-s^_2ye!ibo33(s&3i6qd!7(j!d#d5&wpe'

DB_NAME=online_library_db
DB_USER=postgres
DB_PASSWORD=m_2009_2011_n
DB_HOST=localhost
DB_PORT=2009

DEBUG=
ALLOWED_HOSTS=127.0.0.1,localhost,your-production-app.up.railway.app